@import url(https://fonts.googleapis.com/css?family=Rajdhani);

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rajdhani;
  background: #0e1111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
	color: white;
}