.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.gridContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 3rem;
  width: 100%
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  position: relative;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.title {
  font-size: 36px;
  color: white;
}

.image {
  border-radius: 0.5rem;
}


.sectiontext {
  position: absolute;
  font-size: 60px;
  padding-top: 10%;
  padding-left: 20px;
  font-weight: 10;
  text-decoration: none;
  color: white;
  display: inline-block;
  z-index: 1;
}

@keyframes shake {
  0% { transform: skewX(-10deg); }
  5% { transform: skewX(5deg); }
  10% { transform: skewX(-10deg); }
  15% { transform: skewX(5deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}


.iframecontainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.embed {
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .embed {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.imageContent {
  border-radius: 0.5rem;
  height: auto;
  opacity: 0.3;
  object-fit: cover;
}

.overlayContentSection {
  font-size: 2rem;
  position: absolute;
  font-weight: 10;
  z-index: 1;
  bottom: 0;
}

.contentTitle {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.contentDescription {
  font-size: 1rem !important;
  font-weight: bold !important;
}

.parallax {
   display: block;
   height: auto;
   position: relative;
   width: auto;
}
 .parallaxContent {
   box-shadow: 0 32px 60px rgba(69, 77, 93, .3);
   height: auto;
   transform: perspective(1600px);
   transform-style: preserve-3d;
   transition: all 0.4s ease;
   width: 100%;
}
 .parallaxContent:before {
   content: "";
   display: block;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 .parallaxFront {
   align-items: center;
   color: #fff;
   display: flex;
   height: 100%;
   justify-content: center;
   left: 0;
   position: absolute;
   text-align: center;
   text-shadow: 0 0 3rem rgba(69, 77, 93, .95);
   top: 0;
   transform: translateZ(16px) scale(0.9);
   transition: all 0.4s ease;
   width: 100%;
   z-index: 1;
}
 .parallaxTopLeft {
   height: 50%;
   left: 0;
   position: absolute;
   top: 0;
   width: 50%;
   z-index: 300;
   cursor: pointer;
}
 .parallaxTopLeft:hover ~ .parallaxContent {
   transform: perspective(1600px) rotateX(-5deg) rotateY(5deg);
}
 .parallaxTopLeft:hover ~ .parallaxContent:before {
   background: linear-gradient(135deg, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, 0) 50%);
}
 .parallaxTopLeft:hover ~ .parallaxContent .parallaxFront {
   transform: translate3d(-0.1px, -0.1px, 16px) scale(0.9);
}
 .parallaxTopRight {
   height: 50%;
   position: absolute;
   right: 0;
   top: 0;
   width: 50%;
   z-index: 300;
   cursor: pointer;
}
 .parallaxTopRight:hover ~ .parallaxContent {
   transform: perspective(1600px) rotateX(-5deg) rotateY(-5deg);
}
 .parallaxTopRight:hover ~ .parallaxContent:before {
   background: linear-gradient(-135deg, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, 0) 50%);
}
 .parallaxTopRight:hover ~ .parallaxContent .parallaxFront {
   transform: translate3d(0.1px, -0.1px, 16px) scale(0.9);
}
 .parallaxBottomLeft {
   bottom: 0;
   height: 50%;
   left: 0;
   position: absolute;
   width: 50%;
   z-index: 300;
   cursor: pointer;
}
 .parallaxBottomLeft:hover ~ .parallaxContent {
   transform: perspective(1600px) rotateX(5deg) rotateY(5deg);
}
 .parallaxBottomLeft:hover ~ .parallaxContent:before {
   background: linear-gradient(45deg, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, 0) 50%);
}
 .parallaxBottomLeft:hover ~ .parallaxContent .parallaxFront {
   transform: translate3d(-0.1px, 0.1px, 16px) scale(0.9);
}
 .parallaxBottomRight {
   bottom: 0;
   height: 50%;
   position: absolute;
   right: 0;
   width: 50%;
   z-index: 300;
   cursor: pointer;
}
 .parallaxBottomRight:hover ~ .parallaxContent {
   transform: perspective(1600px) rotateX(5deg) rotateY(-5deg);
}
 .parallaxBottomRight:hover ~ .parallaxContent:before {
   background: linear-gradient(-45deg, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, 0) 50%);
}
 .parallaxBottomRight:hover ~ .parallaxContent .parallaxFront {
   transform: translate3d(0.1px, 0.1px, 16px) scale(0.9);
}
 
